.aboutContainer {
  max-width: 1500px;
  margin: 4rem auto;
  display: grid;
  grid-template-columns: 4fr 6fr;
  align-items: center;
}

.aboutContainer p {
  font-size: 1.3rem;
  text-align: justify;
}

.aboutContainer p:nth-of-type(2) {
  font-size: 1.7rem;
  text-align: justify;
}

.aboutContainer button {
  display: block;
  background-color: unset;
  border-radius: 15px;
  font-size: 1.3rem;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0.6rem 1.7rem;
  margin-top: 3rem;
  text-decoration: none;
}

.about-btn {
  text-decoration: none;
}

.aboutContainer button:hover {
  color: var(--color-primary);
}

.aboutContainer button:active {
  background-color: rgb(108, 245, 54);
  color: black;
  box-shadow: 10px 10px 8px #697a1a;
}
