.footer {
  background-color: var(--color-footer);
}

/*desktop*/
@media screen and (min-width: 1280px) {
  .footer {
    width: 100%;
  }
}

.footer-container {
  display: grid;
  grid-template-columns: unset;
  align-items: center;
  justify-items: center;
  width: 100%;
  position: relative;
}

/*desktop*/
@media screen and (min-width: 1280px) {
  .footer-container {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    align-items: center;
    justify-items: center;
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
  }
}

.footer-info {
  line-height: 1rem;
}

/*desktop*/
@media screen and (min-width: 1280px) {
  .footer-info {
    line-height: 1rem;
    margin-right: unset;
    margin-left: unset;
  }
}

.footer-info p:nth-of-type(3) {
  font-weight: 600;
  text-transform: uppercase;
}

.footer-info img {
  padding-left: 5rem;
}

.footer-info a {
  display: block;
}

.footer-social {
  display: flex;
  gap: 1rem;
  flex-direction: unset;
  margin: 2rem 0;
}

/*desktop*/
@media screen and (min-width: 1280px) {
  .footer-social {
    display: flex;
    gap: 1.5rem;
    flex-direction: unset;
    margin: 0;
  }
}

.social-icon:hover {
  color: rgb(82, 151, 82);
}

.dev-logo {
  background-color: rgb(168, 214, 168);
  display: flex;
  align-items: center;
  justify-content: center;
}

.dev-logo a {
  color: rgb(49, 49, 49);
  text-decoration: none;
  font-size: 0.4rem;
}
