.navbar {
  margin: 0;
  padding: 0;
  display: grid;
  width: 100%;
  grid-template-columns: 2fr 8fr;
  justify-items: end;
  align-items: center;
}

.navbar-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navbar-logo h1 {
  font-size: 2.8rem;
  text-transform: uppercase;
  margin-left: 10rem;
  letter-spacing: 6px;
  color: var(--color-primary);
}

.navbar-logo h1:hover {
  color: rgb(46, 97, 46);
  cursor: pointer;
}

hr {
  width: 105rem;
}

.navbar-menu {
  list-style: none;
  display: flex;
  margin-right: 11rem;
  gap: 4rem;
  font-size: 1.9rem;
}

.navbar-links {
  text-decoration: none;
}

.navbar-menu li {
  color: black;
}

.navbar-menu li:hover {
  color: var(--color-primary);
  cursor: pointer;
}
