@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins&display=swap");

:root {
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
}

:root {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

/* Mobile */
:root {
  font-size: 4.25vw;
}

/* Tablet */

@media screen and (min-width: 720px) {
  :root {
    font-size: 2.25vw;
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
  :root {
    font-size: 16px;
  }
}
